nav {
  position: sticky;
  top: 1px;

  .navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    transition: all 0.2s ease-in-out;
    width: 45px;
    margin: 5px 10px;
    border-radius: 10px;
    border: 3px solid black;


    img {
      object-fit: cover;
    }
  }
}

.navbar-button:hover {
  background-color: #6A6767;
}