.post-container {
  display: flex;
  flex-direction: column;
  background-color: #414141;
  width: 50 svw;
  border-radius: 10px;
  margin-bottom: 25px;

  .top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 95%;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 0.5px solid #C4C4C4;

    figure {
      display: flex;
      margin: auto;

      // width: 50px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
      }
    }

    .field {
      height: inherit;

      textarea {
        overflow: auto;
        height: 32px;
        min-height: 32px;
        width: 45vw;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #6A6767;
        border: none;
        color: #E5E5E5;
        font-size: medium;
        font-weight: 500;
        resize: none;
        animation: collapse .35s ease-in-out;
      }

      textarea::placeholder {
        color: #A9A4A4;
      }

      textarea:focus {
        height: 150px;
        animation: expand .35s 1 0s ease-in-out;
      }
    }

    .bottom-section {
      display: flex;
      flex-direction: row;
      height: 50px;
      width: 100%;
      margin: 10px auto;
    }

  }
}