@import '~bulma/bulma.sass';

input {
  &[type="checkbox"],
  &[type="radio"] {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.textAlign {
  text-align: center;
}

.display-block {
  display: block;
}
.display-none{
  display: none;
}

.modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 5%;
  z-index: 2;
  color: black;
  .gym-modal-info{
    height: 500px;
    width: 800px;
    margin: 0 auto; 
    background-color: white;
  }
}

.profile-picture {
  width: 90px;
  height: 90px;
  border-radius: 45px;
}