@import '~bulma/bulma.sass';


input {

  &[type="checkbox"],
  &[type="radio"] {
    margin-left: 1em;
    margin-right: 1em;
  }
}

 #root{
  background-color:#343D42; 
 }

.textAlign {
  text-align: center;
}

.center-text {
  text-align: center;
}

.wrap-center {
  padding: 0;
  width: 50%;
}

.center-button {
  width: 40%;
  margin-left: 30%;
}

.center-items {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


.profile-picture {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin-right: 10px;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  transition: all 0.2s ease-in-out;
  width: 250px;
  border-radius: 20px;
  color: #E5E5E5;
  cursor: pointer;

  img {
    margin-right: 10px;
  }

  input {
    display: none;
  }
}

button {
  font-size: medium;
  font-weight: 400;
  border: none;
  background-color: rgba(0, 0, 0, 0);

}

button:hover {
  background-color: #6A6767;
}

// * For posts
.post-container {
  display: flex;
  flex-direction: column;
  background-color: #414141;
  width: 60vw;
  border-radius: 10px;

  .top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 95%;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 0.5px solid #C4C4C4;

    figure {
      display: flex;
      margin: auto;

      // width: 50px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
      }
    }

    .field {
      height: inherit;

      textarea {
        overflow: auto;
        height: 32px;
        min-height: 32px;
        width: 45vw;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #6A6767;
        border: none;
        color: #E5E5E5;
        font-size: medium;
        font-weight: 500;
        resize: none;
        animation: collapse .35s ease-in-out;
      }

      textarea::placeholder {
        color: #A9A4A4;
      }

      textarea:focus {
        height: 150px;
        animation: expand .35s 1 0s ease-in-out;
      }
    }

    .bottom-section {
      display: flex;
      flex-direction: row;
      height: 50px;
      width: 100%;
      margin: 10px auto;
    }

  }
}

// * For NewsFeed
.feeds-container {
  display: flex;
  flex-direction: column;
  background-color: #414141;
  width: 50vw;
  border-radius: 10px;

  .feeds-header {
    display: flex;
    align-items: center;
    height: 100%;
    width: 95%;
    padding: 10px 0;
    margin: 0 auto;

      img {
        width: 50px;
        height: 60px;
        border-radius: 10px;
        margin-right: 10px;
    }
  }

  .feeds-content {
    display: flex;
    align-items: center;
    height: 100%;
    width: 95%;
    padding: 10px 0;
    margin: 0 auto;
  }

  h1, h4, p {
    color: #E5E5E5;
  }

  .feeds-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 95%;
    padding: 10px 0;
    margin: 0 auto;

    figure {
      display: flex;
      margin: auto;
    }

    img {
      width: 500px;
      height: 250px;
      object-fit: cover;
    }
  } 

  .feeds-likes {
    display: flex;
    align-items: center;
    height: 100%;
    width: 95%;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 0.5px solid #C4C4C4;
  
    .like {
      color: #E5E5E5;
      width: 40px;
      height: 30px;
      border-radius: 30px;
      margin: 2px 0px 0px 10px;
    }

    .likes {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin: 0px 5px;
    }   
  }
  .feeds-buttons {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    margin: 10px auto;
    border-bottom: 0.5px solid #C4C4C4;

    .feed-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      transition: all 0.2s ease-in-out;
      width: 250px;
      border-radius: 20px;
      color: #E5E5E5;
      cursor: pointer;
    
      img {
        margin-right: 10px;
      }
    
      input {
        display: none;
      }
    }
  }

  .feeds-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 95%;
    padding: 10px 0;

    .profile-picture {
        width: 50px;
        height: 50px;
        border-radius: 30px;
        margin-right: 10px;

    }

    textarea {
      overflow: auto;
      height: 32px;
      min-height: 32px;
      width: 40vw;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #6A6767;
      border: none;
      color: #E5E5E5;
      font-size: medium;
      font-weight: 500;
      resize: none;
      animation: collapse .35s ease-in-out;
    }
  }

}

@keyframes expand {
  0% {
    transform: rotate(0);
    height: 32px;
  }

  100% {
    transform: rotate(0);
    height: 150px;
  }
}


@keyframes collapse {
  0% {
    transform: rotate(0);
    height: 150px;
  }

  100% {
    transform: rotate(0);
    height: 32px;
  }
}

