@import '~bulma/bulma.sass';

input {
  &[type="checkbox"],
  &[type="radio"] {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.textAlign {
  text-align: center;
}

.profile-picture {
  width: 90px;
  height: 90px;
  border-radius: 45px;
}