
.edit-profile-container {
  width:100%;
  height: 100vh;
}
.edit-form-container{
  margin: 0 auto;
  margin-top: 10%;
  padding: 30px;
  background: #EDE9E9;
  width: 40vw;
  height: 60vh;
  border-radius: 10px;
  .edit-input{
    width:90%;
    height:30px;
  }
  .edit-textarea{
    width:90%;
    height:90px;
  }
}

.back-cross {
  font-size: 30px;
  color:black;
  float:right;
  font-size: 40px;
}

