
.profile-page-container{ 
  margin:20px;
  display: flex;
  justify-content: space-evenly;
  *{
    border: 1px solid  transparent;
    color: #E5E5E5;
  }
}


//! events side bar
.profile-sidebar{
  // border: 2px solid white;
  width:20vw;
  height: 100vh;;
  h1 {
    font-size: 25px;
    margin:10px;
  }
}
.events-container {
  width: 100%;
  height:50%;
  border-bottom: 2px solid #535C61;
}
.sidebar-field {
    // border: 1px solid white;
    padding: 10px 20px;
    display: flex;
    .sidebar-img {
      width: 50px;
      border-radius: 50px;
    }
    .sidebar-text{
    width:100%;
    text-align: center;
    padding:10px;
    }
    
  }

  .right-section{
    // border:3px solid black;
    display: flex;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

//! profile info
.profile-info-component{
  height:30%;
}

.edit-profile {
  width:35px;
  float: right;
  margin: 5px 5px 0 0 
}


.profile-info-container {
  width: 70vw;
  height: 50vh;
  background-color: #535C61;
  border-radius: 10px;

}

.info-top {
  width: 100%;
  height:25vh;
  display:flex;
  align-items: center;
  padding-bottom: 20px;
  .follower-count{
    width:33%;
    height:25vh;
  }
.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:33.3%;
    height:25vh;
  .profile-pic{
    width:70%;
    border-radius: 50%;
  }
}
.follower-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width:33.3%;
  height:25vh;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:33.3%;
    height:25vh;
  }
  .follow-button {
    background: #88BEF0;
    border-radius: 5px;
    width:20%;
    text-align: center;
  }
}

.info-bottom {
  h1{ font-size: 30px; margin: 0;}
  text-align: center;
  display: flex;
  justify-content: center;
}