
.profile-posts-container {
border: 2px solid green;
  background-color: #414141;
  width: 60vw;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;

}
* {
  border: 2px solid red;
}

.profile-post-header{
  display: flex;
  align-items: center;
  .profile-post-img{
    width: 8%;
    border-radius: 50%;
    margin-right: 20px;
  }
}

.profile-post-content{
  display: flex;
 align-items: center;
 font-size: 20px;
  height: 80px;
  padding:2px;

}

.profile-react-buttons{
  display: flex;
  justify-content: space-evenly;
  width:98%;
  margin: 1%;

  border-top: 0.5px solid #E5E5E5;
  border-bottom: 0.5px solid #E5E5E5;
}

.profile-post-comments {
  border: 2px solid red;
  height: 200px;
.profile-comment-field{
  border: 2px solid pink;
}

}


.user-img-small {
  width: 5%;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-make-comment{
  display: flex;
  align-items: center;
  margin: 5px 0;

  .make-profile-comments {
    height: 25px;
  }
}



