
  
.modal-pop{
  * { color: black;}
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
}

.modal-group {
  background-color: silver;
  color: black;
  margin: 0 auto;
  border-radius: 20px;
  width: 30%;
  height: 67%;

  .closed {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  h1, label {
    color: black;
  }

  label {
    margin-left: 10px;
  }
}

.modal-followers {
  width: 25%;
  height: 60vh;
  .follower-title{
    font-size: 40px;
    margin:5px
  }
  .followers-field {
    width: 80%;
    padding:10px;
    border-bottom: 1px solid rgb(198, 198, 198);
    display: flex;
    align-items: center;
    font-size: 20px;
      .follower-img {
        border-radius: 50%;
        width:15%;
        margin-right: 12px;
        }
    }
  }


//! DONT OR MOVE DELETE STYLING ILL PUT IIN THE RIGHT PLACES AND NEsT LATERS  DONT DELETE!!!!!!!

.likes-hover{
  border: 2px solid black;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  padding:20px;
  border-radius: 20px;
}
