.modal-group {
*{ color:black;
}
h1{
  font-size: 40px;
}
margin: 0 auto;
  width: 40%;
  height: 50vh;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}
  

//! DONT OR MOVE DELETE STYLING ILL PUT IIN THE RIGHT PLACES AND NEsT LATERS  DONT DELETE!!!!!!!

.likes-hover{
  border: 2px solid black;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  padding:20px;
  border-radius: 20px;
}
