.profile-page-container {

  padding: 80px 20px 0 20px;
  display: flex;
  justify-content: space-evenly;

  * {
    border: 1px solid transparent;
    color: #E5E5E5;
  }
}

.mid-section {
  // border:3px solid black;
  display: flex;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

//! profile info

.edit-profile {
  width: 35px;
  float: right;
  margin: 5px 5px 0 0;
}

.profile-info-container {
  width: 55vw;
  height: 50vh;
  background-color: #535C61;
  border-radius: 10px;
  margin-bottom: 40px;
}

.info-top {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  .follower-count {
    width: 33%;
    height: 25vh;
  }

  .profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 25vh;

    .profile-pic {
      width: 60%;
      border-radius: 50%;
    }
  }

  .follower-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 25vh;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 25vh;
  }

  .follow-button {
    background: #88BEF0;
    border-radius: 5px;
    width: 20%;
    text-align: center;
  }
}

.info-bottom {

  h1 {
    font-size: 30px;
    margin: 0;
  }

  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}