// * left side
.left-section {

  height: 80vh;
  position: sticky;
  top: 67px;

  .profile-sidebar {
    // border: 2px solid white;
    width: 15vw;
    height: 80vh;
    max-height: 80vh;
    border-radius: 10px;


    .events-container,
    .groups-container {
      height: 50%;
      width: 100%;
      padding-bottom: 50px;
      overflow: hidden;
      border-bottom: 2px solid #535C61;

      h1 {
        font-size: 25px;
        margin: 10px;
      }

      .sidebar-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          cursor: pointer;
          font-size: 12px;
          margin: 0 auto;
        }
      }

      .groups-list-wrap,
      .events-list-wrap {
        height: 100%;
        overflow-y: scroll;

        .groups-list,
        .events-list {

          .group-field,
          .event-field {
            padding: 5px;
            display: flex;
            height: 10%;
            margin: -10px 0;

            .group-icon,
            .event-icon {
              width: 45px;
              border-radius: 50%;
            }

            .group-info,
            .event-info {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              padding-left: 20px;
              width: 100%;

              p {
                max-width: 15vh;
              }
            }
          }
        }
      }
    }
  }
}

// * right side

.right-section {
  height: 90vh;
  width: 20vh;
  position: sticky;
  top: 67px;
  border-radius: 10px;
  background-color: blue;

  .sidebar-head {

    h3 {
      font-size: 25px;
      margin: 10px;
    }
  }

  .friends-list {

    .friend {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;


      .friend-icon {
        height: 30px;
        width: 30px;
      }
    }
  }


}

// * for chatbox

.chat-modal {
  width: 40%;
  height: 50vh;
  background-color: #0084FF;
  padding: 20px;
  border-radius: 20px;

  .chat-top {
    display: flex;
    justify-content: space-between;
    h1 {
      color: black;
    }
  
    .close-chat-modal {
      color: black;
    }
  }


  .chatbox {
    height: 70%;
    border-radius: 10px;
    border: 2px solid grey;
    background-color: white;

    .my-message {
      color: blue;
    }
    
    .their-message {
      color: red;
    }
  }
  .chat-form {
    display: flex;
    align-items: center;
    height: 20%;
    margin-top: 10px;
    border: none;
  
    .chat-input {
      height: 100%;
      width: 86%;
      padding: 10px;
      border-radius: 10px;
      overflow: hidden;
      color: black;
      font-weight: 600;
      font-size: medium;
      overflow: auto;
      resize: vertical;
      border: 5px solid grey;
    }
    button {
      height: 100%;
      width: 12%;
      cursor: pointer;
      color: black;
      margin-left: auto;
      background-color: rgba(40, 44, 39, 0.133);
      border-radius: 10px;
      border: 5px solid grey;
    }
    button:hover {
      color: red;
    }
  }
}