.sidebar {
  background-color: #343D42;
  display: block;
  position: absolute;
  top: 60px;
  left: 0px;
  width: 200px;
  height: 100%;
  color: #E5E5E5;
}

div.map {
  margin-left: 220px;
  z-index: 0 !important;
}

.mapboxgl-canvas-container {
  z-index: 0 !important;
}


.gym-search-container {
  background-color: #3DB2C2;
  margin-left: 220px;

  .gym-search-form {
    display: flex;

    p {
      color: #000000;
    }
  }

  .keyword-field {
    margin: 10px 40px 10px 10px;
  }

  .radius-field {
    margin: 10px;
  }
  
  .address-field {
    margin: 10px;
  }

  .form-input {
    background-color: #C4C4C4;
  }

  button {
    margin: 35px 0px 0px 10px;
    background-color:#DA5C5C;
  }

  button:hover {
    background-color:#6A6767;
  }
}