

  .slides .slick-prev {
    left: 5%;
    z-index:1;
  }
  .slides .slick-next {
    right: 5%;
  }

  .slides-two .slick-prev{
    left: 1%;
    z-index: 1;
  }
  .slides-two .slick-next{
    right: 1%;
    z-index: 1;

  }

  .slider-container{ 
    width: 700px;
    height:500px;
    // border:2px solid purple;
    border-radius: 20px;
  }

  .slide {
    height: 500px;
    background-color: rgb(232, 232, 232);
    // border:2px solid red;
    border-radius: 20px;
    .gym-img{
      border-radius: 30px;
      height: 100%; 
      width: 100%; 
      object-fit: contain;
    }
  }

.slider-two {

    margin-left: 5px;
    .slider-two-img {
      
      height:70px ;
      width:95%;
    }
}