.modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 5%;
  z-index: 2;
  color: black;
  .modal-info{
    margin: 0 auto; 

  }
}

.gym-modal-info {
  height: 500px;
  width: 800px;
  background-color: white;
}